/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #555555;
  color: #ffdbdb;
  margin: 0;
  padding: 0;
}

#container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fffcfc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #4CAF50;
}

input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;

}