/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #7a7878;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}

h1 {
  color: #4CAF50;
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #000000;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: rgb(132, 0, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #00ff37;

}